<form action='/signin' method='POST'>
  <input type=string name='user[name]' placeholder="Name"/>
  <input type=password name='user[password]' placeholder="Password"/>
  <input type=submit name="Sign In"/>
</form>