<div>
  <%if params[:error] == 'ua'%>
    Unauthorized
  <%end%>
</div>
<form action='/signin' method='POST'>
  <input type=string name='name' placeholder="Name or email"/>
  <input type=password name='password' placeholder="Password"/>
  <input type=submit name="Sign In"/>
</form>