<form action='/signup' method='POST'>
    <input type=string name='user[name]' placeholder="Name"/>
    <input type=string name='user[email]' placeholder="e-mail"/>
    <input type=password name='user[password]' placeholder="Password"/>
    <input type=password name='user[password_confirmation]' placeholder="Confirm Password"/>
  <input type=submit name="Sign Up"/>
</form>