<!-- List user's different survey types -->
<div >
	<ul class='mainButtons'>
      <li> <a href="/survey/create" class="submitBtn">Create Survey</a></li>
      <li><a href="/surveys" class="submitBtn" >Take Survey</a></li>
	</ul>
</div>

<div class="container" >

<%= erb :'/surveys/_surveys_list', locals:{surveys: open, actions: true, title: "Open Surveys"} %>

<%= erb :'/surveys/_surveys_list', locals:{surveys: closed, actions: true, title: "Closed Surveys"} %>

<%= erb :'/surveys/_surveys_list', locals:{surveys: draft, actions: true, title: "Draft Surveys"} %>

</div>

<div id="signin">
<div class='dialogTitle'>Are you sure? Please sign in to confirm.</div>
</div>