<input class='question' type="text" name="questions[]" placeholder="Question" />
<ul>
	<li><input type="text" name="answers[<%= index %>][]" placeholder="First answer" /></li>
	<li><input type="text" name="answers[<%= index %>][]" placeholder="Second answer" /></li>
	<li><input type="text" name="answers[<%= index %>][]" placeholder="Third answer" /></li>
	<li><input type="text" name="answers[<%= index %>][]" placeholder="Fourth answer" /></li>
</ul>
