<section>
	<header><%= title %></header>
	<ul class="surveysContainer">
		<% surveys.each do |survey| %>
			<li>
				<a href="/survey/<%= survey.id %>"><%= survey.title %></a>
				<% if actions %>
					<%= erb :"surveys/_survey_actions" , locals: { title: title, survey: survey} %>
				<% end %>
			</li>
		<% end %>
	</ul>
</section>
