<div id="searchContainer"><label>Search : <input id="surveySearch" type="text" placeholder="Type Survey Title" /></label></div>
<%= erb :"surveys/_surveys_list", locals: { surveys: surveys, actions: false, title: "List of surveys"} %>
  <%if surveys.count == 0%>
    <div>You have no surveys left to take</div>
  <%end%>
