<div><label>Search : <input id="surveySearch" type="text" placeholder="Type Survey Title" /></label></div>
<%= erb :"surveys/_surveys_list", locals: { surveys: surveys, actions: false, title: "List of surveys"} %>
