<div class='mainButtons'>
	<ul>
		<% unless !current_user %>
      <li> <a href="/survey/create" class='mainBtn'>Create Survey</a></li>
      <li><a href="/surveys" class='mainBtn' >Take Survey</a></li>
    <% else %>
      <li> <a href="/authenticate?signup=true" class='mainBtn' >Sign Up</a></li>
    <% end %>
	</ul>
</div>
